%div#snippet
  = form_for @snippet do |f|
    = f.label :name, 'Name:'
    = f.text_field :name
    = f.select :type, [['Choose type ...', 1], ['Test one', 2], ['Test two',3]]
    = f.label :description
    = f.text_field :description
    = f.label :tags
    = f.text_field :tags
    = f.label :text
    = f.text_area :text
    = f.submit 'Save'
